<?xml version="1.0" encoding="UTF-8"?>
<handmapers>
    <maper>
        <!-- 需要翻墙-->
        <website>http://cn-proxy.com/</website>
        <fetcher>/fetcher/cn-proxy.xml</fetcher>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://cn-proxy.com/archives/218</wildcardgenerator>
        <enable>true</enable>
        <successKey>代理服务器</successKey>
    </maper>
    <maper>
        <!-- 翻墙加按钮点击验证 -->
        <website>http://free-proxy.cz/en/</website>
        <fetcher>/fetcher/free-proxy_cz.xml</fetcher>
        <wildcardgenerator>http://free-proxy.cz/en/proxylist/main/#{autoincreament}
        </wildcardgenerator>
        <batchsize>60</batchsize>
        <hierate>30m</hierate>
        <successKey>proxy servers in our database</successKey>
        <enable>true</enable>
    </maper>
    <maper>
        <!-- 翻墙 -->
        <website>http://free-proxy-list.net/</website>
        <fetcher>/fetcher/free-proxy-list_net.xml</fetcher>
        <wildcardgenerator>http://free-proxy-list.net/</wildcardgenerator>
        <hierate>3h</hierate>
        <batchsize>5</batchsize>
        <enable>true</enable>
        <successKey>Just Checked Proxy List</successKey>
    </maper>
    <maper>
        <website>http://ip.baizhongsou.com/</website>
        <fetcher>/fetcher/ip_baizhongsou_com.xml</fetcher>
        <hierate>35m</hierate>
        <batchsize>5</batchsize>
        <wildcardgenerator>http://ip.baizhongsou.com/</wildcardgenerator>
        <enable>true</enable>
        <successKey>免费HTTP代理服务器IP</successKey>
    </maper>
    <maper>
        <!-- 国外网站,需要翻墙,同时因为存在特殊代码片段植入,所以暂时不开启-->
        <website>http://proxy-list.org/english/index.php</website>
        <fetcher>/fetcher/proxy-list_org.xml</fetcher>
        <wildcardgenerator>http://proxy-list.org/english/index.php?p=#{autoincreament}
        </wildcardgenerator>
        <batchsize>5</batchsize>
        <hierate>1h</hierate>
        <successKey>showmyip.php</successKey>
        <enable>true</enable>

    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>60</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/ops/proxylist/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>60</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/inha/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.kuaidaili.com/</website>
        <fetcher>/fetcher/www_kuaidaili_com.xml</fetcher>
        <batchsize>90</batchsize>
        <hierate>1h</hierate>
        <wildcardgenerator>http://www.kuaidaili.com/free/intr/#{autoincreament}/
        </wildcardgenerator>
        <enable>true</enable>
        <successKey>表中响应速度是中国测速服务器的测试数据</successKey>
    </maper>
    <maper>
        <website>http://www.mrhinkydink.com/proxies.htm</website>
        <fetcher>/fetcher/www_mrhinkydink_com.xml</fetcher>
        <classgenerator>com.virjar.dungproxy.server.crawler.urlgenerator.MrhinkydinkGenerator
        </classgenerator>
        <batchsize>500</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>this.style.backgroundColor</successKey>
    </maper>
    <maper>
        <!-- 暂时不可访问 -->
        <website>http://www.proxy.com.ru/</website>
        <fetcher>/fetcher/www_proxy_com_ru.xml</fetcher>
        <classgenerator></classgenerator>
        <hierate>5m</hierate>
        <batchsize>400</batchsize>
        <wildcardgenerator>http://www.proxy.com.ru/list_#{autoincreament}.html
        </wildcardgenerator>
        <enable>false</enable>
    </maper>
    <maper>
        <website>http://www.socks-proxy.net/</website>
        <fetcher>/fetcher/www_sslproxies_org.xml</fetcher>
        <wildcardgenerator>http://www.socks-proxy.net/</wildcardgenerator>
        <enable>true</enable>
        <hierate>1h</hierate>
        <batchsize>5</batchsize>
    </maper>
    <maper>
        <website>http://www.sslproxies.org/</website>
        <fetcher>/fetcher/www_sslproxies_org.xml</fetcher>
        <wildcardgenerator>http://www.sslproxies.org/</wildcardgenerator>
        <enable>true</enable>
        <hierate>1h</hierate>
        <batchsize>5</batchsize>
    </maper>
    <maper>
        <website>http://www.xroxy.com/proxylist.htm</website>
        <fetcher>/fetcher/www_xroxy_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[
        http://www.xroxy.com/proxylist.php?port=&type=&ssl=&country=&latency=&reliability=&sort=reliability&desc=true&pnum=#{autoincreament}#table
        ]]>
        </wildcardgenerator>
        <batchsize>200</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>Open Proxy List sorted by reliability column</successKey>
    </maper>
    <maper>
        <website>http://www.ip3366.net/</website>
        <fetcher>/fetcher/www_ip3366_net.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[ http://www.ip3366.net/?stype=1&page=#{autoincreament}]]>
        </wildcardgenerator>
        <batchsize>30</batchsize>
        <hierate>1h</hierate>
        <enable>true</enable>
        <successKey>云代理高速代理IP</successKey>
        <maxPage>3</maxPage>
    </maper>
    <maper>
        <website>https://ip.jiangxianli.com/</website>
        <fetcher>/fetcher/ip_jiangxianli_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[
        https://ip.jiangxianli.com/?page=#{autoincreament}
        ]]>
        </wildcardgenerator>
        <batchsize>150</batchsize>
        <enable>true</enable>
        <maxPage>14</maxPage>
        <hierate>20m</hierate>
        <successKey>高可用全球免费代理IP库</successKey>
    </maper>
    <maper>
        <website>https://list.proxylistplus.com/</website>
        <fetcher>/fetcher/list_proxylistplus_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[
        https://list.proxylistplus.com/Fresh-HTTP-Proxy-List-#{autoincreament}
        ]]>
        </wildcardgenerator>
        <batchsize>300</batchsize>
        <enable>true</enable>
        <maxPage>6</maxPage>
        <hierate>20m</hierate>
        <successKey>proxylistplus</successKey>
    </maper>
    <maper>
        <website>https://www.proxynova.com/proxy-server-list/</website>
        <fetcher>/fetcher/www_proxynova_com.xml</fetcher>
        <wildcardgenerator>
            <![CDATA[
        https://www.proxynova.com/proxy-server-list/
        ]]>
        </wildcardgenerator>
        <batchsize>10</batchsize>
        <enable>true</enable>
        <maxPage>1</maxPage>
        <hierate>60m</hierate>
        <successKey>Free Proxy List</successKey>
    </maper>
</handmapers>